modules = ["cpp-clang14"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "University System"

[[workflows.workflow]]
name = "University System"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./university_system"

[workflows.workflow.metadata]
outputType = "console"
